.body{background-color: #EDF7E8;
  
}
*{

}

#navbarSupportedContent{padding-left: 20%;}

.nav{
  
  background-color:#0c0c0c ;
  color:white; 
  width: 100%;
  display: flex;
  flex-direction: row;
 
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}
.nav-link{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-top: 10px;
}
.nav-link:hover{
  color: rgb(55, 137, 42);
}

.nav-item{
margin-left: 5%;
}
.navbar-brand{
margin-left: 2%;
}



.main{ display: flex;
flex-direction: row;
font-size: 40px;
justify-content: space-around;
flex-wrap: wrap;
border-width: 2px; border-style:double; border-color:#1C972C;

background-color:#EDF7E8;

align-items: center;


}
#firstsec{
width: 100%;padding: 0% 10%;
}

.b{background-color: rgb(8, 8, 10);
border: none;
color: white;
padding: 20px;
text-align: center;
font-size: 16px;
margin: 20px 15px;
border-radius: 12px;
font-weight: bold;}

.img1{border-radius:20%; width: 80%;  margin: 20px;}

.one{ background-color: #EDF7E8;

width: 33%;
min-width: 250px;
}

.two{ background-color: #EDF7E8;
width: 33%;
color: #030303;
font-size: 30px;
text-align: center;
min-width: 250px;

}
#mainh1{
  font-size: 40px;
  font-weight: bold;
  color: #276730;
}





#grad{display: flex;
justify-content: space-around;
align-content: space-around;
flex-wrap: wrap;
margin-top:100px;

}

.five{ font-size: large;
margin-bottom: 100px;



}

#three{ font-size: large;
margin-bottom: 50px;}

#Language{
font-size: large;
margin-bottom: 180px;

}


#four{
font-size: large;}

.divcard{ display: flex;
flex-direction:row;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 100px;


}

.card1{
 
width: 250px;
margin-bottom: 50px;

font-size: 19px;
text-align: center;}

.card2{
  
  width: 250px;
  margin-bottom: 50px;
  font-size: 19px;
  text-align: center;
}

  .card3{
    width: 250px;
    margin-bottom: 50px;
    text-align: center;
font-size: 19px;}








.img2{border-radius:50%; width: 200px; }

#mainpro{ border-width:2px; border-style:double; border-color:#EDF7E8;
background-color:#EDF7E8;
width:100%;
text-align: center;
margin-top: -10%;
}


#mainrefer{
  
 
  background-color:#EDF7E8;
  width:100%;
  text-align: center;
  padding: 5% 15%;
 


}



#footer { background-color: black;
display: flex;
flex-direction: row; 
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
padding: 2%  0%;
}

.lift{text-align: left;width: 200px;
font-size: 30px;
}
.right{text-align: right;width: 200px;}


.block{ display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 font-size:medium;

 background-color:#EDF7E8;
 width:100%;
 align-items: center;
}   
        

.imgproject1{ 
width: 60%;
min-width: 250px;
  border: 5px double #1C972C;
}

.inline{background-color: #EDF7E8;
margin-top: 70px;
margin-bottom: 70px;
 
   }


.p1{ background-color: #EDF7E8;

font-size: large;
  }


 


.butoon{background-color: rgb(16, 16, 31);
        border: none;
      color: white;
      padding: 10px;
      text-align: center;
      font-size: 16px;
      margin: 20px 5px;
      border-radius: 12px;
      font-weight: bold;
    width: 125px;
  height: 40px;
  }

 
.bar{
color: #1C972C;
}


.span{margin-right: 20%;}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px){

.img1{ width: 100%;}
    
  .two{
      font-size: 15px;
      padding: 5% 0%;
  }  

  #Language{
  margin-right: 320px;
  margin-bottom: 50px;
 
     
     }
  }



     @media only screen and (min-device-width: 0) and (max-device-width: 480px){
     
      
      .span{margin-left: 20%;}

      .two{
          font-size: 15px;
          padding: 5% 0%;
      } 
      
      
      .five{ 
          text-align: center;
        }

        #three{ text-align: center;}

        #Language{
          
          margin-bottom: 50px;
          text-align: center;
         
             
             }
             #four{
              text-align: center;
             }

             .lift{text-align: center;
              padding: 10px 0%;
             
             }
             .right{text-align: center;
              padding: 10px 0%;
          }

             

  
  
  }

    
    


 
    
 


 


  
 

